* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: minmax(100px, auto) 10fr;
    grid-template-columns: minmax(200px, auto) 10fr;
}

#header {
    border: solid;
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 2rem;
}

#sidebar {
    border: solid;
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 1rem;
    grid-row-gap: 2rem;
}

#lists {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    grid-row-gap: 10px;
    min-width: 200px;
}

#projects {
    display: grid;
    grid-template-rows: 1fr 7fr;
    grid-row-gap: 10px;
}

.list {
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.list:hover {
    cursor: pointer;
}

.list:active {
    text-decoration: underline;
}

#project-list {
    display: grid;
    grid-template-rows: repeat(auto-fit, 22.5px);
    grid-row-gap: max(10px, 8%);
}

.project {
    font-size: 1.2rem;
    font-weight: 500;
    padding-left: 1rem;
}

.project:hover {
    cursor: pointer;
}

.project:active {
    text-decoration: underline;
}

.new-project-button-div {
    padding-left: 1rem;
}

.new-project-button {
    background-color: rgba(0,0,0,0.1);
    border: none;
    padding: .25rem .75rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

.project-input {
    background-color: rgba(0,0,0,0.1);
    border: none;
    padding: .40rem;
    border-radius: 10px;
    font-size: 1rem;
    color: black;
}

#content {
    border: solid;
    grid: 2 / 2 / 3 / 3;
}


#to-dos {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: grid;
    grid-template-rows: repeat(auto-fit, 50px);
    grid-auto-rows: 100px;
    row-gap: 1rem;
    justify-content: center;
}

.new-to-do-item {
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    width: 65vw;
    min-width: 530px;
    height: 50px;
    display: grid;
    grid-template: 1fr / .5fr 6fr 127px 1fr 1fr;
    align-items: center;
    column-gap: .5rem;
    justify-content: center;
    padding: 0 1rem;
}

.to-do-item {
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    width: 65vw;
    min-width: 530px;
    height: 50px;
    display: grid;
    grid-template: 1fr / .5fr 6fr 127px 1fr 1fr;
    align-items: center;
    column-gap: .5rem;
    justify-content: center;
    padding: 0 1rem;
    overflow: hidden;
    
}

.high {
    border-left: 10px solid rgb(249, 92, 92);
}

.medium {
    border-left: 10px solid rgb(249, 241, 92);
}

.low {
    border-left: 10px solid rgb(92, 249, 100);
}

.to-do-item-box {
    background-color: white;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

.to-do-item-box:hover{
    cursor: pointer;
}

.to-do-item-box-clicked {
    background-color: rgba(0,0,0,0.5);
    border: 2px white solid;
}

.to-do-item-box-div {
    justify-content: center;
    align-items: center;
    display: flex;
}


.to-do-item-title {
    color: black;
    font-weight: 500;
    overflow: hidden;
}

.to-do-item-details {
    color: black;
    background-color: white;
    border: none;
    padding: .40rem;
    border-radius: 10px;
    font-size: 1rem;
}

.to-do-item-date-div {
    display: flex;
    justify-content: end;
    align-items: center;
}

.to-do-item-delete {
    color: black;
    background-color: white;
    border: none;
    padding: .40rem;
    border-radius: 10px;
    font-size: 1rem;
}

.done-button {
    color: black;
    background-color: white;
    border: none;
    padding: .40rem;
    border-radius: 10px;
    font-size: 1rem;
}

.priority-input {
    color: black;
    background-color: white;
    border: none;
    padding: .40rem;
    border-radius: 10px;
    font-size: 1rem;
}

.date-input {
    color: black;
    background-color: white;
    border: none;
    padding: .40rem;
    border-radius: 10px;
    font-size: 1rem;
}

.title-input {
    color: black;
    background-color: white;
    border: none;
    padding: .40rem;
    border-radius: 10px;
    font-size: 1rem;
}

.details {
    display: none;
    grid-template-columns: repeat(4,1fr);
    position: absolute;
    top: 25%;
    left: 30%;
    height: 100px;
    width: 60vw;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 1rem;
}

.details-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.1rem;
}

.details-due-date {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.1rem;
}

.details-priority {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.1rem;
}

.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.1);
}

.new-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-button {
    background-color: rgba(0,0,0,0.1);
    border: none;
    padding: .25rem .75rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

.new-heading-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

